body {
    padding: 2%;
    background-color: #17a2b854 !important;
    font-family: 'Raleway', sans-serif !important;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
}

button {
    margin-top: 30px !important;
    display: block !important;
    width: auto !important;
}

.jumbotron {
    padding: 32px !important;
}

.FizzBuzz {    
    font-family: 'Fredericka the Great', cursive;
}

.number-list-format {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        grid-gap: 10px;
      }

.number-list-format > div {
        padding: 30px;
        text-align: center;
        border: 2px solid #17a2b8;
        background-color: #f0fff3;
        font-size: 1.2em;
        box-shadow: 2px 1px #17a2b8;
        align-self: stretch;
    }

.fizz-class {
    background-color: #f9eecb !important;
}

.buzz-class {
    background-color: #d2ecb3 !important;
}

.fizz-buzz-class {
    background-color: #696d7d8a !important;
}

.input-group-text {
    font-size: 18px !important;
}

.col-lg {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

